<nav class="roomrover-navbar">
  <div class="nav-container">
    <a class="nav-brand" href="/">
      <i class="fa-regular fa-compass"></i>
      <span>RoomRover</span>
    </a>
    <div class="nav-search">
      <div class="search-container">
        <div class="search-tab active">Anywhere</div>
        <div class="search-divider"></div>
        <div class="search-tab">Any week</div>
        <div class="search-divider"></div>
        <div class="search-tab">Add guests</div>
        <div class="search-icon">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
      </div>
    </div>
    
    <div class="nav-menu">
      <div class="menu-container">
        <a href="/host" class="menu-item">Become a Host</a>
        <div class="menu-divider"></div>
        <div class="menu-item dropdown-toggle">
          <div class="profile-menu">
            <i class="fa-solid fa-bars"></i>
            <i class="fa-solid fa-user-circle"></i>
          </div>
          <!-- Dropdown menu would go here -->
        </div>
      </div>
    </div>
  </div>
</nav>